.bookContainer {
    height: 510px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .bookTitle {
    margin-bottom: 10px;
    text-align: center;
  }
  .bookImage {
    margin-bottom: 10px;
    width: 200px;
  }
  
  .bookAuthor {
    margin-bottom: 10px;
  }
  